@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
/*** Mixins & Default Styles ***/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*** Margin ***/
.mt-6, .my-6 {
  margin-top: 6rem !important;
}

.mb-6, .my-6 {
  margin-bottom: 6rem !important;
}

.m-6 {
  margin: 6rem !important;
}

/*** Padding ***/
.pt-6, .py-6 {
  margin-top: 6rem !important;
}

.pb-6, .py-6 {
  margin-bottom: 6rem !important;
}

.p-6 {
  margin: 6rem !important;
}

/*** Font Size ***/
.tit-2xs {
  font-size: 12px;
}

.tit-xs {
  font-size: 14px;
}

.tit-sm {
  font-size: 16px;
}

.tit-md {
  font-size: 18px;
}

.tit-lg {
  font-size: 21px;
}

.tit-xl {
  font-size: 24px;
}

.tit-2xl {
  font-size: 36px;
}

.tit-3xl {
  font-size: 48px;
}

.tit-4xl {
  font-size: 60px;
}

.tit-5xl {
  font-size: 72px;
}

.txt-2xs {
  font-size: 10px;
}

.txt-xs {
  font-size: 12px;
}

.txt-sm {
  font-size: 14px;
}

.txt-md {
  font-size: 16px;
}

.txt-lg {
  font-size: 18px;
}

.txt-xl {
  font-size: 20px;
}

.txt-2xl {
  font-size: 22px;
}

.txt-3xl {
  font-size: 24px;
}

.txt-4xl {
  font-size: 26px;
}

.txt-5xl {
  font-size: 28px;
}

.txt-weight-thin {
  font-weight: 100;
}

.txt-weight-light {
  font-weight: 300;
}

.txt-weight-regular {
  font-weight: 400;
}

.txt-weight-medium {
  font-weight: 500;
}

.txt-weight-bold {
  font-weight: 700;
}

.txt-weight-black {
  font-weight: 900;
}

/*** Color Variables ***/
.bg-gray {
  background: #f5f5f5;
}

.color_main {
  color: #FF9A00;
}

.color_sub1 {
  color: #00C2FF;
}

.color_sub2 {
  color: #13548C;
}

.color_sub3 {
  color: #091326;
}

.color_sub4 {
  color: #0D0D0D;
}

/*** Color Buttons ***/
.btn-main {
  color: #ffffff !important;
  background-color: #FF9A00;
  border-color: #FF9A00;
}

.btn-main:hover, .btn-main:active {
  background-color: #eb8d00;
  border-color: #eb8d00;
}

.btn-main:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(230, 138, 0, 0.4);
          box-shadow: 0 0 0 0.2rem rgba(230, 138, 0, 0.4);
}

/*** Color Placeholders ***/
::-webkit-input-placeholder {
  color: #ddd !important;
}
:-ms-input-placeholder {
  color: #ddd !important;
}
::-ms-input-placeholder {
  color: #ddd !important;
}
::placeholder {
  color: #ddd !important;
}

/* Edge */
::-webkit-input-placeholder {
  color: #ddd !important;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: #ddd !important;
}

/*** Auto Slider ***/
/*** Icon Hiwebnet ***/
[class^="hi-"], [class*=" hi-"] {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
  background: url(/assets/images/icons/icon_image.svg) no-repeat center center;
  background-size: 100%;
}

.hi-mail {
  background-image: url(/assets/images/icons/icon_mail.svg);
}

.hi-kakao {
  background-image: url(/assets/images/icons/icon_kakao.svg);
}

/*** Modal Hiwebnet ***/
.noticeModal .modal-body {
  position: relative;
}

.noticeModal .label-notice {
  background: url(/assets/images/notice/label_notice_bg_null.png) no-repeat center center;
  background-size: 100%;
  z-index: 999;
}

.noticeModal .label-notice .label-txt {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
}

.noticeModal .label-notice .label-txt b {
  color: #ffffff;
  letter-spacing: 0.7vw;
  -webkit-transform: rotate(347deg);
          transform: rotate(347deg);
}

.noticeModal .label-notice.dp-pc {
  position: absolute;
  top: 0px;
  left: -1.8vw;
  width: 16vw;
  height: 31vh;
}

.noticeModal .label-notice.dp-pc .label-txt b {
  position: absolute;
  top: 9.5vh;
  left: 3.6vw;
  font-size: 3.2vh;
}

.noticeModal .label-notice.dp-mb {
  position: absolute;
  top: 0px;
  left: -3.4vw;
  width: 28vw;
  height: 12vh;
}

.noticeModal .label-notice.dp-mb .label-txt b {
  position: absolute;
  top: 3vh;
  left: 3vw;
  font-size: 2.2vh;
}

.noticeModal .modal-footer .btn {
  height: 6.5vh;
}

/*** Header Styles ***/
header {
  width: 100%;
  height: 100vh;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav.navbar {
  min-height: 10vh;
  padding: 0 !important;
}

nav.navbar .container {
  padding: 1rem !important;
}

/*** Section Styles ***/
section {
  width: 100%;
  min-height: calc(100vh - 10vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.h-auto {
  min-height: auto !important;
}

section .section_tit {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

section .section_sub_tit {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

#section_first {
  width: 100%;
  height: calc(100vh - 10vh);
  margin-top: 10vh;
  text-align: center;
}

#section_first .main-slide-01 {
  background: url("/assets/images/main-slide-01-bg.png") no-repeat center center;
  position: relative;
}

#section_first .main-slide-01 .btn-preview {
  position: absolute;
  top: 59vh;
  left: 58vw;
  display: block;
  width: 27vw;
  height: 11vh;
}

#section_first .main-slide-01 .btn-preview a {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#section_first .main-slide-01.dp-pc .btn-preview {
  width: 27vw;
  height: 11vh;
  top: 59vh;
  left: 58vw;
}

#section_first .main-slide-01.dp-mb .btn-preview {
  width: 60vw;
  height: 10vh;
  top: 75vh;
  left: 20vw;
}

/*** Main Styles ***/
main {
  width: 100%;
  height: auto;
  background: #FFFFFF;
}

.section_mdhIntro_slide {
  text-align: center;
}

.section_mdhIntro_slide .logo_medihome {
  width: 250px;
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.bl_skills {
  min-height: 260px;
}

.bl_skills .bl_icon {
  margin-bottom: 1.5rem;
}

.bl_skills .bl_icon img {
  width: 60px;
}

.bl_skills .bl_tit {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  letter-spacing: -0.05rem;
  line-height: 1.2;
  word-break: keep-all;
}

.bl_skills .bl_txt {
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.icon_skills {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background: url("/assets/images/icons/icon-pat-01.svg") no-repeat center center;
  background-size: 50% 50%;
}

.icon_pat_1 {
  background-image: url("/assets/images/icons/icon-pat-1.svg");
  background-color: #FFECD0;
}

.icon_pat_2 {
  background-image: url("/assets/images/icons/icon-pat-2.svg");
  background-color: #FFECD0;
}

.icon_pat_3 {
  background-image: url("/assets/images/icons/icon-pat-3.svg");
  background-color: #FFECD0;
}

.icon_pat_4 {
  background-image: url("/assets/images/icons/icon-pat-4.svg");
  background-color: #FFECD0;
}

.icon_pat_5 {
  background-image: url("/assets/images/icons/icon-pat-5.svg");
  background-color: #FFECD0;
}

.icon_pat_6 {
  background-image: url("/assets/images/icons/icon-pat-6.svg");
  background-color: #FFECD0;
}

.icon_pat_7 {
  background-image: url("/assets/images/icons/icon-pat-7.svg");
  background-color: #FFECD0;
}

.icon_pat_8 {
  background-image: url("/assets/images/icons/icon-pat-8.svg");
  background-color: #FFECD0;
}

.icon_hos_1 {
  background-image: url("/assets/images/icons/icon-hos-1.svg");
  background-color: #E2F6FC;
}

.icon_hos_2 {
  background-image: url("/assets/images/icons/icon-hos-2.svg");
  background-color: #E2F6FC;
}

.icon_hos_3 {
  background-image: url("/assets/images/icons/icon-hos-3.svg");
  background-color: #E2F6FC;
}

.icon_hos_4 {
  background-image: url("/assets/images/icons/icon-hos-4.svg");
  background-color: #E2F6FC;
}

.icon_hos_5 {
  background-image: url("/assets/images/icons/icon-hos-5.svg");
  background-color: #E2F6FC;
}

.icon_hos_6 {
  background-image: url("/assets/images/icons/icon-hos-6.svg");
  background-color: #E2F6FC;
}

.icon_hos_7 {
  background-image: url("/assets/images/icons/icon-hos-7.svg");
  background-color: #E2F6FC;
}

.icon_hos_8 {
  background-image: url("/assets/images/icons/icon-hos-8.svg");
  background-color: #E2F6FC;
}

.card .col-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .col-left .icon_skills {
  border-radius: 0;
  background-size: 65%;
}

.card.cd-pat .col-left {
  background-color: #FFECD0;
}

.card.cd-hos .col-left {
  background-color: #E2F6FC;
}

/*** Slide Styles ***/
.hi_slide.ctn-xl .carousel-control-prev, .hi_slide.ctn-xl .carousel-control-next {
  font-size: 4rem;
}

.hi_slide.cnt-ss .carousel-control-prev, .hi_slide.cnt-ss .carousel-control-next {
  width: 1%;
}

.hi_slide.cnt-ss .carousel-inner {
  width: 90%;
  margin: 0 auto;
}

.hi_slide .carousel-indicators li {
  background-color: #CBCBCB;
  width: 10px;
  height: 10px;
  border-radius: 40px;
  border: none !important;
}

.hi_slide .carousel-indicators li.active {
  background-color: #414141;
}

.hi_slide .carousel-indicators.bar .active {
  width: 40px;
}

.hi_slide .carousel-indicators.left-indicators {
  position: relative;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  margin-left: 4%;
  margin-top: 1rem;
}

.hi_slide .carousel-indicators.outer-indicators {
  position: relative;
  margin-top: 1rem;
}

.section_slide {
  width: 100%;
  min-height: auto;
  background: #ffffff !important;
}

.section_slide .autoslider {
  width: 100%;
  overflow: hidden;
}

.section_slide .autoslider .slide_box {
  width: 3598px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-animation: slide_hosp 20s linear infinite;
          animation: slide_hosp 20s linear infinite;
}

.section_slide .autoslider .slide_box .slide_item {
  margin-left: 40px;
}

.section_slide .autoslider .slide_box .slide_item img {
  width: 217px;
}

@-webkit-keyframes slide_hosp {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1799px);
            transform: translateX(-1799px);
  }
}

@keyframes slide_hosp {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1799px);
            transform: translateX(-1799px);
  }
}

.btn-mail {
  font-weight: 600;
  color: #ffffff !important;
  background-color: #24A6D8 !important;
}

.btn-kakao {
  font-weight: 600;
  color: #381E1F !important;
  background-color: #FDE701 !important;
}

/*** Footer Styles ***/
footer {
  width: 100%;
  background: #081325;
  padding: 0;
}

footer .container {
  padding: 2rem 1rem;
}

/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/
/*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    ##Device = 랩탑, 데스크탑
    ##Screen = 1025px에서 1280px 사이
    */
/*
    ##Device = Tablets, Ipads (portrait),
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(세로),
    ##Screen = 768px에서 1024px 사이
    */
/*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(가로)
    ##Screen = 768px에서 1024px 사이
    */
/*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ##Device = 저해상도 태블릿, 모바일(가로)
    ##Screen = 481px에서 767px 사이
    */
/*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ##Device = 대부분의 스마트폰 모바일 기기(세로)
    ##Screen = 320px에서 479px 사이
    */
/**********************/
@media screen and (min-width: 992px) {
  .dp-pc {
    display: block;
  }
  .dp-mb {
    display: none;
  }
  #section_first .container-fluid .row .col-left {
    width: 100%;
    height: 100%;
  }
  #section_first .container-fluid .row .img_medihome_2p {
    width: auto;
    height: 100%;
    margin-right: -7vw;
  }
  #section_first .container-fluid .row .col-right .col-inner p {
    margin-bottom: 7vh;
  }
  .carousel-indicators.s-lg li {
    width: 50px;
    height: 6px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
  }
}

/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 992px) {
  .dp-pc {
    display: none;
  }
  .dp-mb {
    display: block;
  }
  #section_first .dp-mb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section_first .dp-mb img {
    height: calc(100vh - 200px);
  }
  .autoslider .slide_box .slide_item {
    margin-left: 10px !important;
  }
  .autoslider .slide_box .slide_item img {
    width: 180px !important;
  }
  #map_hiwebnet {
    width: 90vw !important;
  }
}
