// @import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/*** Mixins & Default Styles ***/
@mixin object($width, $height, $bg) {
	width: $width;
	height: $height;
	background: $bg;
}
@mixin transPos($top, $right, $bottom, $left,$transX,$transY) {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
	transform: translate($transX, $transY);
}
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}
html, body{
	width: 100%;
	height:100%;
	display: flex;
	flex-direction: column;
}

/*** Margin ***/
.mt-6, .my-6{margin-top:6rem !important;}
.mb-6, .my-6{margin-bottom:6rem !important;}
.m-6{margin:6rem !important;}
/*** Padding ***/
.pt-6, .py-6{margin-top:6rem !important;}
.pb-6, .py-6{margin-bottom:6rem !important;}
.p-6{margin:6rem !important;}

/*** Font Size ***/
.tit-2xs{font-size: 12px;}
.tit-xs{font-size: 14px;}
.tit-sm{font-size: 16px;}
.tit-md{font-size: 18px;}
.tit-lg{font-size: 21px;}
.tit-xl{font-size: 24px;}
.tit-2xl{font-size: 36px;}
.tit-3xl{font-size: 48px;}
.tit-4xl{font-size: 60px;}
.tit-5xl{font-size: 72px;}

.txt-2xs{font-size: 10px;}
.txt-xs{font-size: 12px;}
.txt-sm{font-size: 14px;}
.txt-md{font-size: 16px;}
.txt-lg{font-size: 18px;}
.txt-xl{font-size: 20px;}
.txt-2xl{font-size: 22px;}
.txt-3xl{font-size: 24px;}
.txt-4xl{font-size: 26px;}
.txt-5xl{font-size: 28px;}

.txt-weight-thin{font-weight: 100;}
.txt-weight-light{font-weight: 300;}
.txt-weight-regular{font-weight: 400;}
.txt-weight-medium{font-weight: 500;}
.txt-weight-bold{font-weight: 700;}
.txt-weight-black{font-weight: 900;}



/*** Color Variables ***/
$header-bg: #ffffff;
$nav-bg: #444444;
$main-bg:#FFFFFF;
$footer-bg:#081325;
$bg-gray:#f5f5f5;
$bg-white:#fff;
.bg-gray{background:$bg-gray;}


$color_main:#FF9A00;
$color_main_hover:hsla(36, 100%, 46%,1);
$color_sub1:#00C2FF;
$color_sub2:#13548C; 
$color_sub3:#091326;
$color_sub4:#0D0D0D;
.color_main{color:$color_main;}
.color_sub1{color:$color_sub1;}
.color_sub2{color:$color_sub2;}
.color_sub3{color:$color_sub3;}
.color_sub4{color:$color_sub4;}



/*** Color Buttons ***/
.btn-main {
    color: #ffffff !important;
    background-color: $color_main;
    border-color: $color_main;
	&:hover, &:active{
		 
		background-color: $color_main_hover;
		border-color:$color_main_hover;
	}
	&:focus{
		box-shadow:0 0 0 0.2rem hsla(36,100%,45%,0.4);
	}
}



/*** Color Placeholders ***/
$placeholder_color:#ddd;
::placeholder {color: $placeholder_color !important;}
/* Edge */
::-webkit-input-placeholder {color: $placeholder_color !important;}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {color: $placeholder_color !important;}

/*** Auto Slider ***/ 
@mixin autoslider($sl_w, $sl_ml) {
	.autoslider{
		$logo_w:$sl_w;
		$margin_l:$sl_ml;
		$slbox_w: ($logo_w+$margin_l)*14; 
		$slbox_x:-($logo_w+$margin_l)*7;

		width: 100%; 
		overflow: hidden;
		.slide_box{
			width: $slbox_w;
			display: flex;
			flex-direction: row;
			animation: slide_hosp 20s linear infinite;
			.slide_item{
				margin-left: $margin_l; //로고 좌측여백
				img{
					width:$logo_w;
				}
			}
		}
		@keyframes slide_hosp{
			0%{transform: translateX(0)}
			100%{transform: translateX($slbox_x);}
		}
	}
}

@import 'icons';
@import 'form';
@import 'modals';


