/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {

    //CSS
    
    }
    
    /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
    ##Device = 랩탑, 데스크탑
    ##Screen = 1025px에서 1280px 사이
    */
    
    @media (min-width: 1025px) and (max-width: 1280px) {
    
    //CSS
    
    }
    
    /*
    ##Device = Tablets, Ipads (portrait),
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(세로),
    ##Screen = 768px에서 1024px 사이
    */
    
    @media (min-width: 768px) and (max-width: 1024px) {
   
   
    }
    
    /*
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
    ##Device = 태블릿, 아이패드(가로)
    ##Screen = 768px에서 1024px 사이
    */
    
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    //CSS
    
    }
    
    /*
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
    ##Device = 저해상도 태블릿, 모바일(가로)
    ##Screen = 481px에서 767px 사이
    */
    
    @media (min-width: 481px) and (max-width: 767px) {
    
    //CSS
    
    }
    
    /*
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
    ##Device = 대부분의 스마트폰 모바일 기기(세로)
    ##Screen = 320px에서 479px 사이
    */
    
    @media (min-width: 320px) and (max-width: 480px) {
    
    //CSS
    
    }





/**********************/
   
@media screen and (min-width: 992px) {
	.dp-pc{
		display: block;
	}
	.dp-mb{
		display: none;
	}

	
	#section_first{
		.container-fluid{
			.row{
				.col-left{
					width:100%;
					height:100%;
				}
				.img_medihome_2p{
					width: auto;
					height: 100%;
					margin-right: -7vw;
				}
				.col-right{
					.col-inner{
						p{
							margin-bottom: 7vh;
						}
					}
				}
			}
		}
	}

	.carousel-indicators{
		&.s-lg{ // 배너형 슬라이더의 페이지네이션
			li{
				width: 50px;
				height: 6px;
				border-top: 20px solid transparent;
				border-bottom: 20px solid transparent;
			}
		}
	}
	
}

/*** Responsive Menu For Smaller Device ***/
@media screen and (max-width: 992px) {
	.dp-pc{
		display: none;
	}
	.dp-mb{
		display: block;
	}
	#section_first{
		.dp-mb{
			@include center;
			img{
				height: calc(100vh - 200px);
			}
			
		}
	}
	
	// 병원 슬라이더
	.autoslider .slide_box .slide_item{
		margin-left: 10px !important;
		img{
			width: 180px !important;
		}
	} 

	#map_hiwebnet{
		width:90vw !important;
	}



}